.app-header {
    height: 5vh;
    background-color: rgba(203, 201, 199, 199);
}

.title {
    color: white;
    margin-left: 2vw;
    font-family: "Eras Bold ITC";
}

.operate-btn {
    margin-left: 70vw;
    border-radius: 15px;
    width: fit-content;
    display: flex;
    background-color: rgba(190, 190, 199, 150);
}


.header-image {
    width: 100%;
}

.app-image {
    text-align: center;
}


.btn-login:hover {
    display: block;
}

.btn-login {
    display: none;
}

.btn-register:hover + .btn-login {
    display: block;
}