.map-container {
    position: fixed;
    z-index: 50;
    top: 10%;
    left: 10%;

    height: 100vh;
    width: 160vh;
    overflow: hidden;
}

.info-container {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 280px;
    font-size: 14px;
}

.charger-image {
    height: 120px;
    background-color: white;
    margin-bottom: 8px;
}

.top-section {
    background-color: #f2f2f2; /* Light gray background */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.charger-name {
    margin: 8px 0;
    color: #333;
}

.type-power {
    margin-bottom: 10px;
    color: #555;
}

.check-in-btn {
    width: 100%;
    padding: 8px;
    background-color: #4CAF50; /* Green color for check-in button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.details-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.details-btn {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.detail-item {
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #e0e0e0; /* Dashed line */
    padding: 5px 0;
}

.detail-icon {
    margin-right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.last-item {
    border-bottom: none; /* No dashed line for the last item */
}
